/* importing font link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common styles or utilities */
/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
header {
  display: flex;
  justify-content: center;
  background-color: #562eff;
  height: 94px;
}
.nav-container {
  width: 870px;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 460px;
}

.nav-logo {
  display: flex;
}

.logo-title {
  margin-top: 33px;
}

.nav-logo img {
  width: 40.42px;
  height: 51px;
  margin-top: 26px;
  margin-right: 16px;
}
.nav-link ul {
  display: flex;
  list-style: none;
  margin-top: 35px;
}
.nav-link ul a {
  text-decoration: none;
}

.nav-link li {
  margin-right: 35px;
}

/* img {
  width: 51px;
  height: 51px;
  margin-bottom: 30px;
} */

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin: 21px;
  border-radius: 5px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* top players */
.top-players {
  margin-bottom: 30px;
}

.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  width: 56px;
  height: 56p;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* top blogs styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}

.blog {
  display: flex;
}

.blog .thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}

.blog-author a {
  text-decoration: none;
  color: #562eff;
  font-size: 16px;
}

/*
 Courses Style
  */

.courses {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.course .course-banner img {
  width: 224px;
  height: 104px;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}

/* 
media queries */

/* Mobile Devices */

@media only screen and (max-width: 668px) {
  .container {
    width: 100%;
  }
  .players,
  .courses,
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog,
  .player {
    flex-direction: column;
  }
}

@media only screen and (min-width: 669px) and (max-width: 991px) {
  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog {
    flex-direction: column;
  }
}
